@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

.header {
    height: 2.5cm; 
    background-color:#3A8399; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.logo {
    width: 150px; 
    height: auto;
}

.header2 {
    height: 1.5cm; 
    background-color: #F9951E; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-family: "Raleway", sans-serif;
}

nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    text-align: center; 
    font-family: "Raleway", sans-serif;
}

nav ul li {
    display: inline; 
    margin-right: 20px; 
    font-family: "Raleway", sans-serif;
}

nav ul li a {
    text-decoration: none; 
    color: white; 
    font-weight: bold; 
    font-family: "Raleway", sans-serif;
}

.contenedor {
    display: flex; /* modelo de caja flexible */
    margin: 2cm; 
    font-family: "Raleway", sans-serif;
}

.cuadricula {
    display: flex; 
    justify-content: space-between; /* Espacio uniforme entre los elementos */
    gap: 20px;
}

.imagen {
    width: 300px;
    height: 200px; 
    overflow: hidden; /* Oculta cualquier contenido que exceda las dimensiones especificadas */
    border-radius: 30px;
    

}

.imagen img {
    width: 100%; 
    height: 100%; 
    transition: transform 0.3s ease; 
    border-radius: 30px;
}




.encabezado {
    font-family: "Unbounded", sans-serif;
    font-size: 30px;
    margin-left: 2cm;
    color: #3A8399;
    

}

.parrafo {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    margin-left: 0cm;
    color: #2B2B2B;
    text-decoration: none;
}

button {
    padding: 10px 20px; /* Espaciado interno */
    font-size: 15px; 
    font-family: "Raleway", sans-serif;
    background-color: #F9951E; 
    color: white; 
    border: none; 
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-left: 0cm;
   
   

}

.enlace-blanco {
    color: white; 
    text-decoration: none; 
    font-family: "Raleway", sans-serif;
    
}

button:hover {
    background-color: #d98013;
}

.footer {
    padding: 80px 0; 
    text-align: center; 
}


.footer-image {
    max-width: 100%; 
    height: auto; 
}